<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Controle de estoque</title>

<!-- Css do Foundation -->
<link rel="stylesheet" th:href="@{/foundation-6/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/foundation-6/css/app.css}" />

</head>
<body>
	<!-- Cabeçalho -->
	<div th:replace="cabecalho :: conteudo_cabecalho"></div>
	<br />

	<div class="row medium-8 large-7 columns">
		<!-- Conteúdo da página -->
		<div layout:fragment="conteudo"></div>
	</div>

	<!-- Rodapé -->
	<div th:replace="rodape :: conteudo_rodape"></div>

	<!-- Scripts do Foundation -->
	<script th:src="@{/foundation-6/js/vendor/jquery.min.js}"></script>
	<script th:src="@{/foundation-6/js/vendor/what-input.min.js}"></script>
	<script th:src="@{/foundation-6/js/foundation.min.js}"></script>
	<script th:src="@{/foundation-6/js/app.js}"></script>
</body>
</html>
